{%extends 'base.html'%}
{% block content %}
{{ block.super}}

<style>
  #image {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('http://ak.picdn.net/shutterstock/videos/678679/thumb/1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;

  }
 .footer{

    color: black;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 20px;
    bottom: 0;
}
</style>
<div class="container-fluide">
  <div class="row" id="image"></div><br>
  <!-- Looping through images   -->
  <div class="row"> <br>

    {% for project in projects %}

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div style="border-style: double;">
        {% if project.poster.profile.profile_pict%}
        <p style="font-family: 'ZCOOL XiaoWei', serif;font-size: 20px"><img src="{{project.poster.profile.profile_pict.url}}" alt="profile" height="50px" width="50px"
            style="border-radius: 50%;"> {{project.poster.username}} </p>
        {% else %}
        <img src="https://www.seekpng.com/png/small/41-410093_circled-user-icon-user-profile-icon-png.png" alt="profile"
          height="65px" width="65px" style="border-radius: 50%"> {{project.poster.username}}
        {% endif %}
        <h3 style="text-align: center;font-family: 'ZCOOL XiaoWei', serif;"><strong> {{project.title}} </strong></h3>
        <img src="{{project.image.url}}" class="img-thumbnail photo img-responsive" alt="Image" data-toggle="modal"
          data-target="#{{project.id}}" height="600px" , width="600px"> <br>
        <br>
        <a href="{{project.link}} " style="text-decoration: none;text-align: center">
          <p>View Project</p>
        </a>
        <a href="/grade/{{project.id}}" style="margin: 10px; text-decoration: none;">
            <button type="button" class="btn btn-default btn-inverse"><strong> Rate </strong> </button> </a>

      </div> <br>
    </div>
    {% endfor %}
  </div>
  <div class="footer">
      <p>&copy; 2019 Copy Right  All right reserved.<p>
    </div>
</div>

{% endblock %}