
 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <style>
        a {
            font-family: 'ZCOOL XiaoWei', serif;
            font-size: 20px;
        }
        #hd {
            font-family: 'ZCOOL XiaoWei', serif;
            font-size: 40px;
        }
    </style>
    <!-- navbar -->

    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href='/' style=" font-size: 30px"> <strong> Menu </strong></a>
                    </li>
                    <li class="nav-link" style="margin: 5px">
                        <form class="form-inline my-2 my-lg-0" action="{% url 'search_project' %}">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="project"
                                aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>

                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <h2 id="hd"><strong>awwwards.</strong></h2>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'profile' user.id%}" style="text-decoration: none; color: black; ">{{user.username}}
                        {% if user.profile.profile_pict%}
                        <img src="{{user.profile.profile_pict.url}}" alt="profile" height="50px" width="50px"
                            style="border-radius: 50%"> </a>
                        {% else %}
                        <img src="https://www.seekpng.com/png/small/41-410093_circled-user-icon-user-profile-icon-png.png" alt="profile" height="50px"
                            width="50px" style="border-radius: 50%">
                        {% endif %}
                        <a href="{%url 'add_site'%}"
                            style="margin: 20px;text-decoration: none; font-size: 20px;color: black;"><b> SUBMIT YOUR
                                SITE </b></a>
                        <!-- <a class="btn btn-primary btn-sm" href="/logout">Logout</a> -->
                    </li>
                    <ul class="navbar-nav ml-auto">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                                aria-expanded="false" style="text-decoration: none; color: black;font-size: 20px;">Account
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{%url 'profileApi'%}" style="text-decoration: none; color: black;">Profile
                                        Api</a>
                                </li>
                                <li>
                                    <a href="{%url 'projectApi'%}" style="text-decoration: none; color: black;"> project
                                        Api</a>
                                </li>
                                <li>
                                    <a href="/logout" style="text-decoration: none; color: black;">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    {% else %}
                    <li>
                        <a class="btn btn-primary btn-sm" href="/accounts/login/"> Sign In </a>
                    </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

</body>

</html>